version: '3.8'

services:
  collection-poster-sync:
    image: rubeanie/plex-collection-poster-sync:latest
    container_name: collection-poster-sync
    restart: unless-stopped
    environment:
      PLEX_URL: "http://localhost:32400" # Plex server URL (e.g., "http://192.168.0.139:32400")
      PLEX_TOKEN: "PLEX TOKEN" # Plex authentication token
      POSTER_FOLDER: "/posters" # Path inside container where images folder is mounted
      CRON_SCHEDULE: "0 */8 * * *" # CRON expression for scheduled runs (every 8 hours by default)
      RUN_ON_CREATION: "true" # Set to "true" to run sync immediately on container startup, set to "false" to wait for CRON schedule
      RESET_COLLECTION: "false" # Set to "true" to force update all posters even if unchanged
      NORMALIZE_HYPHENS: "true" # Set to "false" to treat hyphens and spaces as different characters
      TZ: "Australia/Perth" # Replace with your timezone
      # LOG_PATH: "/app/run.log" # Path for log file
      # REQUEST_TIMEOUT: "30" # Timeout in seconds for HTTP requests
      # MAX_RETRIES: "3" # Maximum number of retry attempts for failed operations
    volumes:
      - /path/to/your/posters:/posters # Path to your local folder containing poster images
